<div class="container">
    <div class="centro_container">
        <img src="../../../../assets/images/user.png" alt="ícone de usuário">
        <span> {{nome}} </span>
    </div>

    <div class="icones_container">
        <img src="../../../../assets/images/microphone.png" alt="ícone de microfone">
        <img src="../../../../assets/images/camera.png" alt="ícone de câmera">
        <img src="../../../../assets/images/telephone.png" alt="ícone de telefone" id="icone_telefone" (click)="cancelaChamada()">
    </div>
</div>
