<footer class="footer">
    <div class="info-container">
        <h3> Sobre Saúde Mental </h3>
        <p class="descritivo"> <strong> Contato: </strong> {{contato}} </p>
        <p class="descritivo"> Atendimento 24h por dia. </p>
        <p class="descritivo"> <strong> <i> Você não está sozinho. </i> </strong> </p>
    </div>

    <div class="info-container">
        <h3> Público alvo </h3>
        <p class="descritivo"> Idosos </p>
        <p class="descritivo"> Gestantes </p>
        <p class="descritivo"> Adultos/Crianças </p>
    </div>

    <div class="info-container">
        <h3> Redes sociais </h3>
        <p class="descritivo"> 
            <strong> Instagram: </strong>
            <span class="links"> {{url_instagram}} </span>
        </p>
        <p class="descritivo">
            <strong> Facebook: </strong>
            <span class="links"> {{url_facebook}} </span>
        </p>
    </div>        
</footer>